.filter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.input{
    height: 30px;
    border-radius: 10px;
    padding: 5px;
    font-size: 16px;
    margin: 5px;
}
.selectinput{
    height: 40px;
    border-radius: 10px;
    padding: 5px;
    font-size: 16px;
    margin: 5px;
    border: none !important;
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
    .input{
        width: 30%;
    }
    .selectinput{
        width: 30%;
    }
}
@media screen and (max-width: 600px){
    .filter{
        flex-direction: column;
    }
    .input {
        width: 80%;
    }
    .selectinput{
        width: 85%;
    }
}