@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');

body{
    width: 100%;
    margin: 0px;
    font-family: "Open Sans", sans-serif;
    background-color: var(--Azul-Escuro);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.baloon{
    background-color: var(--Cinza-Claro);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border: 2px solid var(--Azul-Banestes);
    margin: 10px;
}
.containerPrevNext{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.seta{
    width: 50px;
}
.setaDireita{
    transform: rotate(270deg);
}
.setaEsquerda{
    transform: rotate(90deg);
}
.btn{
    background-color: var(--Cinza-Claro);
    border: 2px solid var(--Azul-Banestes);
    border-radius: 10px;
    height: 50px;
}
.btn:disabled{
    background-color: #e6ebf07e !important;
    border: none;
    cursor: not-allowed !important;
}
.btn:hover{
    background-color: var(--Azul-Claro);
    cursor: pointer;
}